In [7]:
# !pip show ctgan

In [5]:
# !pip install ctgan==0.9.0 seaborn==0.11.2 pandas==2.2.1

In [8]:
import seaborn as sns
import pandas as pd
from ctgan import CTGAN

In [9]:
iris_data = sns.load_dataset("iris")
iris_data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [11]:
categorical_features= iris_data.select_dtypes(exclude="number").columns.tolist()

In [12]:
categorical_features

['species']

In [13]:
ctgan = CTGAN(epochs=5)
ctgan.fit(iris_data, categorical_features)

/opt/homebrew/Caskroom/miniconda/base/envs/ml311/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [14]:
synthetic_iris = ctgan.sample(1000)
synthetic_iris.head(20)

    sepal_length  sepal_width  petal_length  petal_width     species
0       8.269101     3.655907      5.521223     1.494342      setosa
1       5.684208     2.658021      1.863059     0.344850  versicolor
2       8.761068     4.475894      2.840393     0.534951      setosa
3       6.565719     2.692367      1.093528    -0.272941   virginica
4       7.907881     2.790433      6.968721    -0.355787  versicolor
5       8.059131     4.430478      5.432007     0.593282      setosa
6       6.779537     2.310708      7.277768    -0.238853   virginica
7       6.241710     3.658558      0.849285     0.112849      setosa
8       6.266110     3.733859      3.391366     0.461247  versicolor
9       7.616129     2.175483      6.640567     0.339925  versicolor
10      6.837406     2.872582      0.594709     0.862085      setosa
11      6.203882     3.637022      4.767646     1.480259  versicolor
12      7.378937     3.248235      0.995933    -0.260066  versicolor
13      8.536587     2.034822      6.859502     0.048973   virginica
14      6.561424     4.096848      0.950783    -0.038702   virginica
15      8.382814     2.883127      1.677355     0.344144  versicolor
16      6.877173     2.191342      5.014780    -0.321482   virginica
17      7.735176     3.527824      2.450024     0.070347   virginica
18      5.283859     2.104776      2.431731     0.122703  versicolor
19      6.818323     1.849656      0.992352     0.695074   virginica

In [16]:
synthetic_iris.to_csv("synthetic_iris_data.csv", index=False)
print("Synthetic data saved to 'synthetic_iris_data.csv'")

Synthetic data saved to 'synthetic_iris_data.csv'

In [18]:
# !pip show streamlit

In [ ]:
# pip install streamlit==1.31.1